.article-followers {
    width: min(100%, 300px);
    display: grid; row-gap: 1rem;
    place-items: center;
    text-align: center;
    padding-block: 1.5rem;

    border-top: 5px solid;
    border-top-color: var(--color-primary-blue-500);
    border-radius: 0.4rem;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 25%);
}

.article-followers > div:first-child {
    display: flex; column-gap: 0.5rem;
    align-items: center;
}
.article-followers > div:nth-child(2) {
    display: flex; flex-direction: column;
    align-items: center;

    strong {
        font-size: calc(var(--fs-regular) * 5);
        font-weight: var(--fw-700);
    }
    em {
        text-transform: uppercase;
        letter-spacing: 0.5ch;
    }
}
.article-followers > div:nth-child(3) {
    font-weight: var(--fw-700);
}