header {
    display: flex; gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;

    @media screen and (width < 675px) {
        flex-direction: column;
        align-items: start;
    }
}
.header-title {
    font-weight: var(--fw-700);
}
.header-title h1,
.header-title p {
    margin: 0;
}
.header-theme {
    display: flex;
    column-gap: 1rem;
    align-items: center;

    & > span {min-width: fit-content; font-weight: var(--fw-700);}
    @media screen and (width < 675px) {
        width: 100%;
        justify-content: space-between;
    }
}