body {
    background-color: var(--color-dark-gray-950);
}
.bg-pattern {
    background-color: var(--color-dark-gray-900);
}
section article {
    background-color: var(--color-dark-navy-950);
}
.text-lighter {
    color: var(--color-dark-gray-400);
}
.text-light {
    color: var(--color-dark-white);
}