body {
    background-color: var(--color-light-white);
}
.bg-pattern {
    background-color: var(--color-light-blue-50);
}
section article {
    background-color: var(--color-light-navy-50);
}
.text-lighter {
    color: var(--color-light-gray-650);
}
.text-light {
    color: var(--color-light-gray-950);
}